name: Return context

on:
  workflow_call:
    inputs:
      context_name:
        type: string
        default: github
    outputs:
      context_artifact:
        description: 'Context artifact name'
        value: ${{ jobs.upload_context.outputs.context_artifact }}

jobs:
  upload_context:
    name: Upload ${{ inputs.context_name }} object as an artifact
    runs-on: ubuntu-latest
    outputs:
      context_artifact: ${{ steps.upload_context.outputs.context_artifact }}
    steps:
      - name: Get ${{ inputs.context_name }} context
        id: upload_context
        run: |
          if [[ '${{ inputs.context_name }}' == 'github' ]]; then context_json='${{ toJSON(github) }}';
          elif [[ '${{ inputs.context_name }}' == 'env' ]]; then context_json='${{ toJSON(env) }}';
          elif [[ '${{ inputs.context_name }}' == 'job' ]]; then context_json='${{ toJSON(job) }}';
          elif [[ '${{ inputs.context_name }}' == 'steps' ]]; then context_json='${{ toJSON(steps) }}';
          elif [[ '${{ inputs.context_name }}' == 'runner' ]]; then context_json='${{ toJSON(runner) }}';
          elif [[ '${{ inputs.context_name }}' == 'secrets' ]]; then context_json='${{ toJSON(secrets) }}';
          elif [[ '${{ inputs.context_name }}' == 'strategy' ]]; then context_json='${{ toJSON(strategy) }}';
          elif [[ '${{ inputs.context_name }}' == 'matrix' ]]; then context_json='${{ toJSON(matrix) }}';
          elif [[ '${{ inputs.context_name }}' == 'needs' ]]; then context_json='${{ toJSON(needs) }}';
          fi

          mkdir -p context
          hash=$(echo -ne "$context_json" | md5sum | awk '{print $1}')
          echo -ne "$context_json" > $hash

          echo "::set-output name=context_artifact::$hash"
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.upload_context.outputs.context_artifact }}
          path: ${{ steps.upload_context.outputs.context_artifact }}
