name: Dependencies within a module

on:
  workflow_call:
    inputs:
      concurrent_steps:
        type: number
        default: 3
      maximum_parallel_steps:
        type: number
        default: 2
      runner:
        type: string
        default: ubuntu-latest

jobs:
  parent_job:
    name: Parent job
    runs-on: ${{ inputs.runner }}
    outputs:
      concurrent_steps: ${{ steps.setup.outputs.step_list }}
    steps:
      - name: Initial step
        run: echo This is the first step
      - name: Set up concurrency
        id: setup
        run: |
          concurrent_string=""
          for (( step_number=1; step_number <= ${{ inputs.concurrent_steps }}; step_number++ ))
          do
            concurrent_string=${concurrent_string}'"Step '$step_number'",'
          done
          concurrent_string=$(echo $concurrent_string | sed -r 's/,$//')

          echo '::set-output name=step_list::{"step_value":['$concurrent_string']}'

  dependency_job1:
    name: Dependency job 1
    needs: [ parent_job ]
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Initial step
        run: echo This is the first step
      - name: Another step
        run: echo This is another step

  dependency_job2:
    name: Dependency job 2
    needs: [ parent_job ]
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Initial step
        run: echo This is the first step
      - name: Another step
        run: echo This is another step

  dependency_job3:
    name: Dependency job 3
    needs: [ parent_job ]
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Initial step
        run: echo This is the first step
      - name: Another step
        run: echo This is another step

  concurrent_step:
    name: Run concurrent steps after job 2
    needs: [ parent_job, dependency_job2 ]
    runs-on: ${{ inputs.runner }}
    strategy:
      matrix: ${{ fromJSON(needs.parent_job.outputs.concurrent_steps) }}
      max-parallel: ${{ inputs.maximum_parallel_steps }}
    steps:
      - name: Running ${{ matrix.step_value }}
        run: |
          echo Running: ${{ matrix.step_value }}
      - name: Another step for ${{ matrix.step_value }}
        run: |
          echo Hello, running something else for ${{ matrix.step_value }}
