name: Dependencies within a module

on:
  workflow_call:
    inputs:
      concurrent_steps:
        type: number
        default: 3

jobs:
  parent_step:
    name: Parent step
    runs-on: ubuntu-latest
    outputs:
      concurrent_steps: ${{ steps.setup.outputs.step_list }}
    steps:
      - name: Set up concurrency
        id: setup
        run: |
          echo '::set-output name=step_list::[\"1\", \"2\", \"3\"]'

  check_parent_output:
    name: Debug parent step
    needs: [ parent_step ]
    runs-on: ubuntu-latest
    steps:
      - name: Display steps
        run: |
          echo ${{ needs.parent_step.outputs.concurrent_steps }}

  concurrent_step:
    name: Run concurrent steps
    needs: [ parent_step, check_parent_output ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{ toJSON('["1", "2", "3"]') }}
    steps:
      - run: |
          echo "${{ matrix.value }}"
