name: Dependencies within a module

on:
  workflow_call:
    inputs:
      concurrent_steps:
        type: number
        default: 3
      maximum_parallel_steps:
        type: number
        default: 2

jobs:
  parent_step:
    name: Parent step
    runs-on: ubuntu-latest
    outputs:
      concurrent_steps: ${{ steps.setup.outputs.step_list }}
    steps:
      - name: Set up concurrency
        id: setup
        run: |
          concurrent_string=""
          for (( step_number=1; step_number <= ${{ inputs.concurrent_steps }}; step_number++ ))
          do
            concurrent_string=$concurrent_string,'"step #'$step_number'",'
          done
          concurrent_string=$(echo $concurrent_string | sed -r 's/,$//')

          echo '::set-output name=step_list::{"step_value":['$concurrent_string']}'

  concurrent_step:
    name: Run concurrent steps
    needs: [ parent_step ]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.parent_step.outputs.concurrent_steps) }}
      max-parallel: ${{ inputs.maximum_parallel_steps }}
    steps:
      - name: Running ${{ matrix.step_value }}
        run: |
          echo "${{ matrix.step_value }}"
