on:
  workflow_call:
    inputs:
      context_name:
        type: string
        default: github
      output_to_stdout:
        type: boolean
        default: true
      output_to_datadog:
        type: boolean
        default: false
      datadog_service:
        default: github-actions
        type: string
    secrets:
      datadog_api_key:
        required: true

name: Display Context Info
jobs:
  contexts:
    runs-on: ubuntu-latest
    steps:
      - name: Output to File
        id: context-file
        run: |
          if [[ '${{ inputs.context_name }}' == 'github' ]]; then context_json='${{ toJSON(github) }}';
          elif [[ '${{ inputs.context_name }}' == 'env' ]]; then context_json='${{ toJSON(env) }}';
          elif [[ '${{ inputs.context_name }}' == 'job' ]]; then context_json='${{ toJSON(job) }}';
          elif [[ '${{ inputs.context_name }}' == 'steps' ]]; then context_json='${{ toJSON(steps) }}';
          elif [[ '${{ inputs.context_name }}' == 'runner' ]]; then context_json='${{ toJSON(runner) }}';
          elif [[ '${{ inputs.context_name }}' == 'secrets' ]]; then context_json='${{ toJSON(secrets) }}';
          elif [[ '${{ inputs.context_name }}' == 'strategy' ]]; then context_json='${{ toJSON(strategy) }}';
          elif [[ '${{ inputs.context_name }}' == 'matrix' ]]; then context_json='${{ toJSON(matrix) }}';
          elif [[ '${{ inputs.context_name }}' == 'needs' ]]; then context_json='${{ toJSON(needs) }}';
          fi

          hash=$(echo $context_json | md5sum | awk '{print $1}')
          mkdir -p contexts
          echo -ne "$context_json" > contexts/$hash
          echo "::set-output name=filename::contexts/$hash"
      - name: Send to stdout
        if: inputs.output_to_stdout
        run: cat ${{ steps.context-file.outputs.filename }}
      - name: Send to Datadog
        if: inputs.output_to_datadog
        run: |
          curl -X POST "https://http-intake.logs.datadoghq.com/api/v2/logs?service=${{ inputs.datadog_service }}" \
          -H "Content-Type: text/plain" \
          -H "DD-API-KEY: ${{ secrets.datadog_api_key }}" \
          -d @${{ steps.context-file.outputs.filename }}
