on:
  workflow_call:
    inputs:
      context_name:
        type: string
        default: github
      output_to_stdout:
        type: boolean
        default: true
      output_to_datadog:
        type: boolean
        default: false
      datadog_service:
        default: gha
        type: string
    secrets:
      datadog_api_key:
        required: true

name: Display Context Info
jobs:
  contexts:
    runs-on: ubuntu-latest
    steps:
      - name: Send to stdout
        if: inputs.output_to_stdout
        run: echo test
