name: Send string contents to stdout

on:
  workflow_call:
    inputs:
      string_value:
        type: string
      base64_encoded:
        type: boolean
        default: false

jobs:
  send_to_stdout:
    name: Send
    runs-on: ubuntu-latest
    steps:
      - name: Send to stdout
        run: |
          if [[ '${{ inputs.base64_encoded }}' == 'true' ]];
          then
            echo ${{ inputs.string_value }} | base64 --decode
          else
            echo ${{ inputs.string_value }}
          fi
