name: Send artifact contents to stdout

on:
  workflow_call:
    inputs:
      artifact_name:
        type: string
      base64_encoded:
        type: boolean
        default: false

jobs:
  send_to_stdout:
    name: Send
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ inputs.artifact_name }}
      - name: Send to stdout
        run: |
          if [[ '${{ inputs.base64_encoded }}' == 'true' ]];
          then
            cat ${{ inputs.artifact_name }} | base64 --decode
          else
            cat ${{ inputs.artifact_name }}
          fi
